h1 { 
	color: orange;
	font-size: 250%;
	font-weight: bold;
}

h2 {
	font-size: 150%;
	font-style: italic;
}

body {
	background-image: url("background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: black;
	font-size: 18pt;
	font-family: 'Oswald', sans-serif;
}

nav li { 
		display: inline-block;
		border: 4px solid maroon; 
		background: yellow;
		padding: 5px;
		margin: 50px;
}

.special {color: yellow;}
.extraspecial {color: white;}

a { color: red;
  	text-decoration: none }
  	a:hover { color: magenta }

table, th, td {border: 5px solid maroon; border-collapse: collapse }
